.Block {
  h4 {
    margin-top: 0 !important;
    margin-bottom: calc(var(--sp) * 2);

    font-size: 20px;
    text-transform: none;
    line-height: 1.3em;

    color: var(--aj-palette-txt-primary);
  }
}
