---
import TextByFramework from "@/components/TextByFramework";
import Default from "@astrojs/starlight/components/PageTitle.astro";
import type { Props } from "@astrojs/starlight/props";

const titleByFramework = Astro.props.entry.data.titleByFramework;
---

{titleByFramework && (
<h1 id="_top"><TextByFramework client:load {...titleByFramework} /></h1>
)}

{! titleByFramework && (
<Default {...Astro.props}>
  <slot />
</Default>
)}