<h2>Discussion</h2>

<script
  src="https://giscus.app/client.js"
  data-repo="arcjet/arcjet-docs"
  data-repo-id="R_kgDOMkp69A"
  data-category="General"
  data-category-id="DIC_kwDOMkp69M4ChvUW"
  data-mapping="og:title"
  data-strict="1"
  data-reactions-enabled="0"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>