<details>
    <summary><strong>Do I need to run any infrastructure e.g. Redis?</strong></summary>

    <p>No, Arcjet handles all the infrastructure for you so you don't need to
    worry about deploying global Redis clusters, designing data structures to 
    track rate limits, or keeping security detection rules up to date.</p>
</details>

<details>
    <summary><strong>What is the performance overhead?</strong></summary>
    
    <p>Arcjet SDK tries to do as much as possible asynchronously and locally to 
    minimize latency for each request. Where decisions can be made locally or
    previous decisions are cached in-memory, latency is usually &lt;1ms.</p>
    
    <p>When a call to the Cloud API is required, such as when tracking a
    rate limit in a serverless environment, there is some additional latency
    before a decision is made. The Cloud API has been designed for high
    performance and low latency, and is deployed to multiple regions around the 
    world. The SDK will automatically use the closest region which means the 
    total overhead is typically no more than 20-30ms, often significantly less.</p>
</details>

<details>
    <summary><strong>What happens if Arcjet is unavailable?</strong></summary>

    <p>Where a decision has been cached locally e.g. blocking a client, Arcjet 
    will continue to function even if the service is unavailable.</p>

    <p>If a call to the Cloud API is needed and there is a network problem or
    Arcjet is unavailable, the default behavior is to fail open and allow 
    the request. You have control over how to handle errors, including choosing 
    to fail close if you prefer. See the reference docs for details.</p>
</details>

<details>
    <summary><strong>How does Arcjet protect me against DDoS attacks?</strong></summary>

    <p>Network layer attacks tend to be generic and high volume, so these are 
    best handled by your hosting platform. Most cloud providers include network 
    DDoS protection by default.</p>

    <p>Arcjet sits closer to your application so it can understand the context.
    This is important because some types of traffic may not look like a DDoS
    attack, but can still have the same effect. For example, a customer making
    too many API requests and affecting other customers, or large numbers of
    signups from disposable email addresses.</p>

    <p>Network-level DDoS protection tools find it difficult to protect against
    this type of traffic because they don't understand the structure of your
    application. Arcjet can help you to identify and block this traffic by
    integrating with your codebase and understanding the context of the
    request e.g. the customer ID or sensitivity of the API route.</p>

    <p>Volumetric network attacks are best handled by your hosting provider.
    Application level attacks need to be handled by the application. That's
    where Arcjet helps.</p>

</details>