.Launch {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: calc(var(--sp) * 4);
  row-gap: calc(var(--sp) * 1.5);
  width: 100%;

  padding: calc(var(--sp) * 2) calc(var(--sp) * 4);

  border: 1px solid var(--aj-palette-block-level1-border);
  border-radius: calc(var(--sp) * 2);

  .Content {
    flex: 1 1 auto;
    font-size: 20px;
  }

  .Actions {
    margin-top: 0;
    flex: 0 0 auto;
  }
}
