.SelectableContent {
  margin-top: calc(var(--sp) * 3);

  .Toolbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: calc(var(--sp) * 1.5);

    & :global {
      .FrameworkSwitcher {
        margin: 0;
      }
    }
  }
}
