.SelectableContent {
  margin-top: calc(var(--sp) * 2);

  .Toolbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: calc(var(--sp) * 1.5);

    & :global {
      .SelectWrapper {
        margin-top: 0;
      }

      .FrameworkSwitcher {
        margin: 0;
      }
    }
  }
}
