.Select {
  border: none;

  height: calc(var(--sp) * 3.25);
  font-size: 14px;
  line-height: 18px;
  padding-top: calc(var(--sp) * 0.5);
  padding-bottom: calc(var(--sp) * 0.5);
  padding-left: calc(var(--sp) * 1);
  padding-right: calc(var(--sp) * 0.5);
  border-radius: calc(var(--sp) * 0.75);

  min-width: 100px;
}
