/**
  TOC
  TODO: The styles used here reproduce the used theme appearance. Customize to Arcjet's design.
*/

.TOC {
  .NavDesktop {
    padding: calc(var(--sp) * 5) calc(var(--sp) * 4);

    .Switcher {
      margin-bottom: calc(var(--sp) * 3);

      display: flex;
      flex-flow: column;
      row-gap: calc(var(--sp) * 0.5);

      .SwitcherLabel {
        font-size: 0.75rem;
        color: var(--aj-palette-txt-quaternary);
        text-transform: uppercase;
        font-family: var(--sl-heading);
        font-weight: 600;
      }
    }

    h2 {
      color: var(--sl-color-white);
      font-size: var(--sl-text-h5);
      font-weight: 600;
      line-height: var(--sl-line-height-headings);
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        a {
          --pad-inline: 0.5rem;
          border-radius: 0.25rem;
          padding-block: 0.25rem;
          padding-inline: var(--pad-inline) var(--pad-inline);
          line-height: 1.25;
          display: block;
          font-size: var(--sl-text-xs);
          text-decoration: none;
          color: var(--sl-color-gray-3);
          overflow-wrap: anywhere;

          &:hover {
            color: var(--sl-color-white);
          }

          &.Selected {
            color: var(--sl-color-text-accent);
          }
        }

        ul {
          padding-left: 1rem;
        }
      }
    }
  }

  .NavMobile {
    position: fixed;
    z-index: var(--sl-z-index-toc);
    top: calc(var(--Header-height) + var(--sp) * 3);
    border-top: 1px solid
      rgba(var(--aj-palette-input-primary-solid-border) / 0.2);
    background-color: var(--sl-color-bg-nav);

    right: 0;
    left: 0;

    summary {
      gap: 0.5rem;
      align-items: center;
      height: var(--sl-mobile-toc-height);
      border-bottom: 1px solid
        rgba(var(--aj-palette-input-primary-solid-border) / 0.2);
      padding: 0.5rem 1rem;
      font-size: var(--sl-text-xs);
      outline-offset: var(--sl-outline-offset-inside);
    }

    & :global {
      .toggle {
        flex-shrink: 0;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--sl-color-gray-5);
        border-radius: 0.5rem;
        padding-block: 0.5rem;
        padding-inline-start: 0.75rem;
        padding-inline-end: 0.5rem;
        line-height: 1;
        background-color: var(--sl-color-black);
        user-select: none;
        cursor: pointer;

        &:hover,
        &.open {
          color: var(--sl-color-white);
          border-color: var(--sl-color-gray-2);
        }

        &.open svg {
          transform: rotateZ(90deg);
        }
      }

      .display-current {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--sl-color-white);
      }

      .dropdown {
        --border-top: 1px;
        margin-top: calc(-1 * var(--border-top));
        border: var(--border-top) solid var(--sl-color-gray-6);
        border-top-color: var(--sl-color-hairline-shade);
        max-height: calc(
          85vh - var(--sl-nav-height) - var(--sl-mobile-toc-height)
        );
        overflow-y: auto;
        background-color: var(--sl-color-black);
        box-shadow: var(--sl-shadow-md);
        overscroll-behavior: contain;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      --depth: 0; // Overridden dynamically

      li {
        margin: 0;
        padding: 0;

        a {
          --pad-inline: 1rem;
          display: flex;
          justify-content: space-between;
          gap: var(--pad-inline);
          border-top: 1px solid var(--sl-color-gray-6);
          border-radius: 0;
          padding-block: 0.5rem;
          color: var(--sl-color-text);
          font-size: var(--sl-text-sm);
          text-decoration: none;
          outline-offset: var(--sl-outline-offset-inside);
          padding-inline: calc(1rem * var(--depth) + var(--pad-inline))
            var(--pad-inline);
          line-height: 1.25;

          &:after {
            content: "";
          }

          &.Selected {
            &:after {
              width: 1rem;
              background-color: var(--sl-color-text-accent);
              -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNCAxNCc+PHBhdGggZD0nTTEwLjkxNCA0LjIwNmEuNTgzLjU4MyAwIDAgMC0uODI4IDBMNS43NCA4LjU1NyAzLjkxNCA2LjcyNmEuNTk2LjU5NiAwIDAgMC0uODI4Ljg1N2wyLjI0IDIuMjRhLjU4My41ODMgMCAwIDAgLjgyOCAwbDQuNzYtNC43NmEuNTgzLjU4MyAwIDAgMCAwLS44NTdaJy8+PC9zdmc+Cg==);
              mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNCAxNCc+PHBhdGggZD0nTTEwLjkxNCA0LjIwNmEuNTgzLjU4MyAwIDAgMC0uODI4IDBMNS43NCA4LjU1NyAzLjkxNCA2LjcyNmEuNTk2LjU5NiAwIDAgMC0uODI4Ljg1N2wyLjI0IDIuMjRhLjU4My41ODMgMCAwIDAgLjgyOCAwbDQuNzYtNC43NmEuNTgzLjU4MyAwIDAgMCAwLS44NTdaJy8+PC9zdmc+Cg==);
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 50rem) {
  .TOC .NavMobile {
    inset-inline-start: var(--sl-content-inline-start, 0);
  }
}
