<details>
  <summary><strong>What are Arcjet utilities?</strong></summary>

  <p>
    <a href="https://arcjet.com">Arcjet</a> utilities are independent libraries
    that do not require the use of the main Arcjet SDK - they can be used with or
    without other Arcjet rules.
  </p>

  <p>
    We take the pain out of implementing security tasks through these utilities
    to provide a security as code approach to developer-first security.
  </p>
</details>
