<details>
    <summary><strong>What is Arcjet?</strong></summary>
    
    <a href="https://arcjet.com">Arcjet</a> helps developers protect their apps
    in just a few lines of code. Implement rate limiting, bot protection, email
    validation, and defense against common attacks.
</details>